<div class="container mt-8">
  <div class="row">
    <div class="col-md-8">
      <h2>Detail Kontak</h2>
      <% if (!contacts) { %>
      <div class="alert alert-danger fw-bold" role="alert">
        Data Kontak tidak ada<br />
        <a href="/contact" class="alert-link fw-normal">Kembali ke contact</a>
      </div>
      <% } else { %>
      <div class="card" style="width: 18rem">
        <div class="card-body">
          <h5 class="card-title"><%=contacts.nama %></h5>
          <h6 class="card-subtitle mb-2 text-body-secondary">
            <%=contacts.nohp %>
          </h6>
          <p class="card-text"><%=contacts.email %></p>
          <a
            href="/contact/update/<%=contacts.nama %>"
            class="btn btn-primary badge"
            >Ubah</a
          >
          <a
            href="/contact/delete/<%=contacts.nama %>"
            class="btn btn-danger badge"
            onclick="return confirm('yakin?')"
            >Hapus</a
          >
          <a href="/contact" class="card-link fw-bold d-block mt-3"
            >&laquo; kembali ke contact</a
          >
        </div>
      </div>
      <% } %>
    </div>
  </div>
</div>
